<a href="https://colab.research.google.com/github/AmitG-98/MSc-Data-Science-Final-Project/blob/main/Global_macro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Global Macroeconomic Indicator Dashboard with Predictive Analytics**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pip install Dash

Collecting Dash
  Downloading dash-2.18.2-py3-none-any.whl.metadata (10 kB)
Collecting Flask<3.1,>=1.0.4 (from Dash)
  Downloading flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug<3.1 (from Dash)
  Downloading werkzeug-3.0.6-py3-none-any.whl.metadata (3.7 kB)
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.10/dist-packages (from Dash) (5.24.1)
Collecting dash-html-components==2.0.0 (from Dash)
  Downloading dash_html_components-2.0.0-py3-none-any.whl.metadata (3.8 kB)
Collecting dash-core-components==2.0.0 (from Dash)
  Downloading dash_core_components-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Collecting dash-table==5.0.0 (from Dash)
  Downloading dash_table-5.0.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.10/dist-packages (from Dash) (8.5.0)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from Dash) (4.12.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from Dash) (2.32.3)
Collecting retrying (from Dash)
  Downloading retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from Dash) (1.6.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from Dash) (75.1.0)
Requirement already satisfied: Jinja2>=3.1.2 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->Dash) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->Dash) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->Dash) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /usr/local/lib/python3.10/dist-packages (from Flask<3.1,>=1.0.4->Dash) (1.9.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly>=5.0.0->Dash) (9.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly>=5.0.0->Dash) (24.2)
Requirement already satisfied: MarkupSafe>=2.1.1 in /usr/local/lib/python3.10/dist-packages (from Werkzeug<3.1->Dash) (3.0.2)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata->Dash) (3.21.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->Dash) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->Dash) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->Dash) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->Dash) (2024.12.14)
Requirement already satisfied: six>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from retrying->Dash) (1.17.0)
Downloading dash-2.18.2-py3-none-any.whl (7.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 66.5 MB/s eta 0:00:00
Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Downloading flask-3.0.3-py3-none-any.whl (101 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 101.7/101.7 kB 10.4 MB/s eta 0:00:00
Downloading werkzeug-3.0.6-py3-none-any.whl (227 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 228.0/228.0 kB 21.6 MB/s eta 0:00:00
Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: dash-table, dash-html-components, dash-core-components, Werkzeug, retrying, Flask, Dash
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 3.1.3
    Uninstalling Werkzeug-3.1.3:
      Successfully uninstalled Werkzeug-3.1.3
  Attempting uninstall: Flask
    Found existing installation: Flask 3.1.0
    Uninstalling Flask-3.1.0:
      Successfully uninstalled Flask-3.1.0
Successfully installed Dash-2.18.2 Flask-3.0.3 Werkzeug-3.0.6 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 retrying-1.3.4

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler
from prophet import Prophet
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
import plotly.express as px
from dash import Dash, html, dcc, Input, Output
from tabulate import tabulate
from sklearn.linear_model import LinearRegression

In [4]:
""" To see weather te data set is working we will try to read data set"""
df = pd.read_csv('/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/GDP Growth.csv')
df.head()

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 69

In [5]:
""" Here we have written a funtion incoomon for all data sets to clean them """
def clean_csv(file_path, cleaned_file_path):
    """
    Cleans a CSV file by removing metadata, ensuring consistent column counts,
    and handling encoding issues like BOM.

    Args:
        file_path (str): Path to the input CSV file.
        cleaned_file_path (str): Path to save the cleaned CSV file.
    """
    # Step 1: Open and read the raw content of the file
    with open(file_path, 'r', encoding='utf-8') as file:
        raw_content = file.readlines()

    # Step 2: Remove empty lines and whitespace
    cleaned_content = [line.strip() for line in raw_content if line.strip()]

    # Step 3: Identify the header row (adjust "Header Keyword" as needed)
    header_index = next((i for i, line in enumerate(cleaned_content) if "Country Name" in line), 0)

    # Extract the actual data starting from the header row
    cleaned_content = cleaned_content[header_index:]

    # Step 4: Save the cleaned content back to a CSV file
    with open(cleaned_file_path, 'w', encoding='utf-8') as file:
        file.write("\n".join(cleaned_content))

    # Step 5: Load the cleaned CSV to ensure consistency
    try:
        data = pd.read_csv(cleaned_file_path)
        print("Dataset preview:")
        print(data.head())  # Preview cleaned data
        print("\nDataset info:")
        print(data.info())  # Check structure and missing values

        # Optionally save the cleaned dataset again
        data.to_csv(cleaned_file_path, index=False)
        print(f"Cleaned CSV saved to: {cleaned_file_path}")
    except Exception as e:
        print(f"Error reading cleaned file: {e}")

In [6]:
"""Gdp Growth"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/GDP Growth.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/GDP Growth(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)

"""unemployment"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/Unemployment.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Unemployment(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)

"""Real interest rate"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/Real Interest rate.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Real Interest rate(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)

"""Inflation"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/Inflation ,Consumer.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Inflation(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)


"""Houseold"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/Houseolld final consmption.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Houseolld(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)

"""Stock Data"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/stock data.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/stock(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)

"""CPIA"""
# Specify file paths
file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Raw Data sets/CPIA.csv"  # Path to your raw CSV file
cleaned_file_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/CPIA(c).csv"  # Output path for cleaned file

# Call the cleaning function
clean_csv(file_path, cleaned_file_path)

Dataset preview:
                  Country Name Country Code         Indicator Name  \
0                        Aruba          ABW  GDP growth (annual %)
1  Africa Eastern and Southern          AFE  GDP growth (annual %)
2                  Afghanistan          AFG  GDP growth (annual %)
3   Africa Western and Central          AFW  GDP growth (annual %)
4                       Angola          AGO  GDP growth (annual %)

      Indicator Code  1960      1961      1962      1963      1964      1965  \
0  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN       NaN       NaN
1  NY.GDP.MKTP.KD.ZG   NaN  0.460106  7.868013  5.616400  4.668135  5.138990
2  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN       NaN       NaN
3  NY.GDP.MKTP.KD.ZG   NaN  1.873455  3.707643  7.145784  5.406403  4.102491
4  NY.GDP.MKTP.KD.ZG   NaN       NaN       NaN       NaN       NaN       NaN

   ...      2015      2016      2017      2018      2019       2020  \
0  ... -0.623626  1.719625  7.048533  2.381730 -2.302836 -23.982581
1  ...  3.011572  2.183581  2.651400  2.681718  2.189259  -2.780379
2  ...  1.451315  2.260314  2.647003  1.189228  3.911603  -2.351101
3  ...  2.813979  0.141489  2.284961  2.842645  3.222029  -1.004417
4  ...  0.943572 -2.580111 -0.147150 -1.316362 -0.702273  -5.638215

        2021       2022      2023  Unnamed: 68
0  27.639357  10.458317       NaN          NaN
1   4.497380   3.554422  2.622310          NaN
2 -20.738839  -6.240172       NaN          NaN
3   3.994854   3.784486  3.342776          NaN
4   1.199211   3.045403  0.856001          NaN

[5 rows x 69 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            142 non-null    float64
 6   1962            150 non-null    float64
 7   1963            150 non-null    float64
 8   1964            150 non-null    float64
 9   1965            150 non-null    float64
 10  1966            155 non-null    float64
 11  1967            159 non-null    float64
 12  1968            161 non-null    float64
 13  1969            161 non-null    float64
 14  1970            161 non-null    float64
 15  1971            185 non-null    float64
 16  1972            185 non-null    float64
 17  1973            185 non-null    float64
 18  1974            185 non-null    float64
 19  1975            187 non-null    float64
 20  1976            190 non-null    float64
 21  1977            191 non-null    float64
 22  1978            196 non-null    float64
 23  1979            196 non-null    float64
 24  1980            197 non-null    float64
 25  1981            206 non-null    float64
 26  1982            208 non-null    float64
 27  1983            210 non-null    float64
 28  1984            210 non-null    float64
 29  1985            213 non-null    float64
 30  1986            214 non-null    float64
 31  1987            216 non-null    float64
 32  1988            220 non-null    float64
 33  1989            221 non-null    float64
 34  1990            223 non-null    float64
 35  1991            242 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            243 non-null    float64
 39  1995            244 non-null    float64
 40  1996            245 non-null    float64
 41  1997            245 non-null    float64
 42  1998            247 non-null    float64
 43  1999            247 non-null    float64
 44  2000            247 non-null    float64
 45  2001            248 non-null    float64
 46  2002            248 non-null    float64
 47  2003            252 non-null    float64
 48  2004            252 non-null    float64
 49  2005            252 non-null    float64
 50  2006            252 non-null    float64
 51  2007            253 non-null    float64
 52  2008            253 non-null    float64
 53  2009            256 non-null    float64
 54  2010            256 non-null    float64
 55  2011            256 non-null    float64
 56  2012            256 non-null    float64
 57  2013            256 non-null    float64
 58  2014            257 non-null    float64
 59  2015            257 non-null    float64
 60  2016            256 non-null    float64
 61  2017            257 non-null    float64
 62  2018            258 non-null    float64
 63  2019            257 non-null    float64
 64  2020            257 non-null    float64
 65  2021            256 non-null    float64
 66  2022            250 non-null    float64
 67  2023            233 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None
Cleaned CSV saved to: /content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/GDP Growth(c).csv
Dataset preview:
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name  Indicator Code  1960  \
0  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   NaN
1  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   NaN
2  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   NaN
3  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   NaN
4  Unemployment, total (% of total labor force) (...  SL.UEM.TOTL.ZS   NaN

   1961  1962  1963  1964  1965  ...       2015       2016       2017  \
0   NaN   NaN   NaN   NaN   NaN  ...        NaN        NaN        NaN
1   NaN   NaN   NaN   NaN   NaN  ...   6.880312   7.027630   7.123032
2   NaN   NaN   NaN   NaN   NaN  ...   9.011000  10.100000  11.184000
3   NaN   NaN   NaN   NaN   NaN  ...   4.204562   4.139948   4.204170
4   NaN   NaN   NaN   NaN   NaN  ...  16.491000  16.580000  16.617000

        2018       2019       2020       2021       2022       2023  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1   7.068440   7.244670   7.661161   7.964493   7.448222   7.472824
2  11.206000  11.224000  11.710000  11.934000  14.100000  14.386000
3   4.224167   4.247944   4.697497   4.524016   3.737766   3.397782
4  16.599000  16.497000  16.676000  15.799000  14.693000  14.620000

   Unnamed: 68
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN

[5 rows x 69 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            0 non-null      float64
 12  1968            0 non-null      float64
 13  1969            0 non-null      float64
 14  1970            0 non-null      float64
 15  1971            0 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            0 non-null      float64
 19  1975            0 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            0 non-null      float64
 23  1979            0 non-null      float64
 24  1980            0 non-null      float64
 25  1981            0 non-null      float64
 26  1982            0 non-null      float64
 27  1983            0 non-null      float64
 28  1984            0 non-null      float64
 29  1985            0 non-null      float64
 30  1986            0 non-null      float64
 31  1987            0 non-null      float64
 32  1988            0 non-null      float64
 33  1989            0 non-null      float64
 34  1990            0 non-null      float64
 35  1991            235 non-null    float64
 36  1992            235 non-null    float64
 37  1993            235 non-null    float64
 38  1994            235 non-null    float64
 39  1995            235 non-null    float64
 40  1996            235 non-null    float64
 41  1997            235 non-null    float64
 42  1998            235 non-null    float64
 43  1999            235 non-null    float64
 44  2000            235 non-null    float64
 45  2001            235 non-null    float64
 46  2002            235 non-null    float64
 47  2003            235 non-null    float64
 48  2004            235 non-null    float64
 49  2005            235 non-null    float64
 50  2006            235 non-null    float64
 51  2007            235 non-null    float64
 52  2008            235 non-null    float64
 53  2009            235 non-null    float64
 54  2010            235 non-null    float64
 55  2011            235 non-null    float64
 56  2012            235 non-null    float64
 57  2013            235 non-null    float64
 58  2014            235 non-null    float64
 59  2015            235 non-null    float64
 60  2016            235 non-null    float64
 61  2017            235 non-null    float64
 62  2018            235 non-null    float64
 63  2019            235 non-null    float64
 64  2020            235 non-null    float64
 65  2021            235 non-null    float64
 66  2022            234 non-null    float64
 67  2023            233 non-null    float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None
Cleaned CSV saved to: /content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Unemployment(c).csv
Dataset preview:
                  Country Name Country Code          Indicator Name  \
0                        Aruba          ABW  Real interest rate (%)
1  Africa Eastern and Southern          AFE  Real interest rate (%)
2                  Afghanistan          AFG  Real interest rate (%)
3   Africa Western and Central          AFW  Real interest rate (%)
4                       Angola          AGO  Real interest rate (%)

  Indicator Code  1960  1961  1962  1963  1964  1965  ...       2015  \
0    FR.INR.RINR   NaN   NaN   NaN   NaN   NaN   NaN  ...   0.157925
1    FR.INR.RINR   NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN
2    FR.INR.RINR   NaN   NaN   NaN   NaN   NaN   NaN  ...  12.252548
3    FR.INR.RINR   NaN   NaN   NaN   NaN   NaN   NaN  ...        NaN
4    FR.INR.RINR   NaN   NaN   NaN   NaN   NaN   NaN  ...  21.144182

        2016       2017      2018      2019      2020       2021      2022  \
0   7.982852   9.789287  2.437682 -0.371564  7.738754  11.988410  2.598476
1        NaN        NaN       NaN       NaN       NaN        NaN       NaN
2  17.583938  12.141178       NaN       NaN       NaN        NaN       NaN
3        NaN        NaN       NaN       NaN       NaN        NaN       NaN
4  -4.922063  -5.552638 -5.844003  0.090919  8.028657 -13.989372  5.634836

       2023  Unnamed: 68
0       NaN          NaN
1       NaN          NaN
2       NaN          NaN
3       NaN          NaN
4 -0.617857          NaN

[5 rows x 69 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            0 non-null      float64
 5   1961            4 non-null      float64
 6   1962            4 non-null      float64
 7   1963            4 non-null      float64
 8   1964            5 non-null      float64
 9   1965            6 non-null      float64
 10  1966            6 non-null      float64
 11  1967            7 non-null      float64
 12  1968            7 non-null      float64
 13  1969            8 non-null      float64
 14  1970            9 non-null      float64
 15  1971            10 non-null     float64
 16  1972            10 non-null     float64
 17  1973            10 non-null     float64
 18  1974            10 non-null     float64
 19  1975            12 non-null     float64
 20  1976            19 non-null     float64
 21  1977            19 non-null     float64
 22  1978            23 non-null     float64
 23  1979            26 non-null     float64
 24  1980            33 non-null     float64
 25  1981            39 non-null     float64
 26  1982            47 non-null     float64
 27  1983            49 non-null     float64
 28  1984            51 non-null     float64
 29  1985            55 non-null     float64
 30  1986            61 non-null     float64
 31  1987            63 non-null     float64
 32  1988            65 non-null     float64
 33  1989            68 non-null     float64
 34  1990            69 non-null     float64
 35  1991            73 non-null     float64
 36  1992            79 non-null     float64
 37  1993            83 non-null     float64
 38  1994            86 non-null     float64
 39  1995            93 non-null     float64
 40  1996            97 non-null     float64
 41  1997            102 non-null    float64
 42  1998            106 non-null    float64
 43  1999            111 non-null    float64
 44  2000            111 non-null    float64
 45  2001            115 non-null    float64
 46  2002            116 non-null    float64
 47  2003            117 non-null    float64
 48  2004            122 non-null    float64
 49  2005            132 non-null    float64
 50  2006            135 non-null    float64
 51  2007            134 non-null    float64
 52  2008            135 non-null    float64
 53  2009            135 non-null    float64
 54  2010            136 non-null    float64
 55  2011            135 non-null    float64
 56  2012            138 non-null    float64
 57  2013            142 non-null    float64
 58  2014            139 non-null    float64
 59  2015            134 non-null    float64
 60  2016            133 non-null    float64
 61  2017            132 non-null    float64
 62  2018            121 non-null    float64
 63  2019            117 non-null    float64
 64  2020            112 non-null    float64
 65  2021            109 non-null    float64
 66  2022            95 non-null     float64
 67  2023            86 non-null     float64
 68  Unnamed: 68     0 non-null      float64
dtypes: float64(65), object(4)
memory usage: 143.5+ KB
None
Cleaned CSV saved to: /content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Real Interest rate(c).csv
Dataset preview:
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                          Indicator Name  Indicator Code  1960  1961  1962  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
1  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
2  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
3  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
4  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN

   1963  1964  1965  ...      2015       2016       2017       2018  \
0   NaN   NaN   NaN  ...  0.474764  -0.931196  -1.028282   3.626041
1   NaN   NaN   NaN  ...  5.245878   6.571396   6.399343   4.720805
2   NaN   NaN   NaN  ... -0.661709   4.383892   4.975952   0.626149
3   NaN   NaN   NaN  ...  2.130817   1.487416   1.725486   1.784050
4   NaN   NaN   NaN  ...  9.355972  30.694415  29.844480  19.628938

        2019       2020       2021       2022       2023  Unnamed: 68
0   4.257462        NaN        NaN        NaN        NaN          NaN
1   4.653665   5.405162   7.240978  10.773751   7.126975          NaN
2   2.302373        NaN        NaN        NaN        NaN          NaN
3   1.760112   2.437609   3.653533   7.967574   4.670084          NaN
4  17.080954  22.271539  25.754295  21.355290  13.644102          NaN

[5 rows x 69 columns]

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            70 non-null     float64
 5   1961            72 non-null     float64
 6   1962            74 non-null     float64
 7   1963            75 non-null     float64
 8   1964            79 non-null     float64
 9   1965            86 non-null     float64
 10  1966            93 non-null     float64
 11  1967            99 non-null     float64
 12  1968            100 non-null    float64
 13  1969            101 non-null    float64
 14  1970            106 non-null    float64
 15  1971            110 non-null    float64
 16  1972            113 non-null    float64
 17  1973            116 non-null    float64
 18  1974            118 non-null    float64
 19  1975            124 non-null    float64
 20  1976            126 non-null    float64
 21  1977            131 non-null    float64
 22  1978            131 non-null    float64
 23  1979            126 non-null    float64
 24  1980            133 non-null    float64
 25  1981            150 non-null    float64
 26  1982            151 non-null    float64
 27  1983            151 non-null    float64
 28  1984            155 non-null    float64
 29  1985            156 non-null    float64
 30  1986            165 non-null    float64
 31  1987            170 non-null    float64
 32  1988            170 non-null    float64
 33  1989            173 non-null    float64
 34  1990            173 non-null    float64
 35  1991            179 non-null    float64
 36  1992            187 non-null    float64
 37  1993            193 non-null    float64
 38  1994            198 non-null    float64
 39  1995            202 non-null    float64
 40  1996            205 non-null    float64
 41  1997            205 non-null    float64
 42  1998            205 non-null    float64
 43  1999            207 non-null    float64
 44  2000            211 non-null    float64
 45  2001            216 non-null    float64
 46  2002            218 non-null    float64
 47  2003            221 non-null    float64
 48  2004            222 non-null    float64
 49  2005            225 non-null    float64
 50  2006            228 non-null    float64
 51  2007            230 non-null    float64
 52  2008            231 non-null    float64
 53  2009            234 non-null    float64
 54  2010            236 non-null    float64
 55  2011            240 non-null    float64
 56  2012            239 non-null    float64
 57  2013            236 non-null    float64
 58  2014            235 non-null    float64
 59  2015            234 non-null    float64
 60  2016            234 non-null    float64
 61  2017            229 non-null    float64
 62  2018            226 non-null    float64
 63  2019            225 non-null    float64
 64  2020            219 non-null    float64
 65  2021            219 non-null    float64

In [7]:


# Paths of the datasets
dataset_paths = [
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/CPIA(c).csv",
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/GDP Growth(c).csv",
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Houseolld(c).csv",
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Inflation(c).csv",
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Real Interest rate(c).csv",
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Unemployment(c).csv",
    "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/stock(c).csv",

]

# Columns to drop
columns_to_drop = ['Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 68']
years_to_drop = [str(year) for year in range(1960, 1990)]  # Drop years before 1990

# Create an empty list to store the cleaned datasets
dataframes = []

# Process each dataset
for path in dataset_paths:
    df = pd.read_csv(path)

    # Drop unnecessary columns
    df = df.drop(columns=columns_to_drop + years_to_drop, errors='ignore')

    # Get the list of countries present in the current dataset
    countries_in_data = df['Country Name'].unique()

    # Optional: If you want to filter for certain countries, you can set the list of countries here
    # all_countries = ['Country1', 'Country2', 'Country3', ...]
    # df = df[df['Country Name'].isin(all_countries)]

    # Calculate the percentage of missing values for each country
    missing_percentage = df.isnull().mean(axis=1)

    # Define a threshold for dropping countries (e.g., remove countries with > 30% missing data)
    threshold = 0.3  # 30% missing data
    df = df[missing_percentage <= threshold]

    # Reset index after dropping rows
    df.reset_index(drop=True, inplace=True)

    # Add a source column for identifying the dataset
    df['Indicator'] = path.split("/")[-1].replace("(c).csv", "")

    # Append the cleaned dataframe to the list
    dataframes.append(df)

# Combine all datasets into a single dataframe
combined_df = pd.concat(dataframes, ignore_index=True)

# Save the combined dataset
output_path = "/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Combined_Dataset.csv"
combined_df.to_csv(output_path, index=False)

# Display the first few rows of the combined dataset
combined_df.head()

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Indicator
0,Aruba,3.961402,7.962872,5.882354,7.307693,8.203901,2.547144,1.185789,7.046875,1.991984,...,-0.623626,1.719625,7.048533,2.381730,-2.302836,-23.982581,27.639357,10.458317,NaN,GDP Growth
1,Africa Eastern and Southern,0.182031,-0.092709,-2.355109,-0.591581,1.899017,4.283193,5.454772,3.838778,1.758375,...,3.011572,2.183581,2.651400,2.681718,2.189259,-2.780379,4.497380,3.554422,2.622310,GDP Growth
2,Africa Western and Central,5.773828,1.009365,2.483663,-1.317609,-0.323481,1.919113,4.649809,4.447027,3.609312,...,2.813979,0.141489,2.284961,2.842645,3.222029,-1.004417,3.994854,3.784486,3.342776,GDP Growth
3,Angola,-3.450099,0.991359,-5.838281,-23.983417,1.339363,15.000000,13.544370,7.274277,4.691146,...,0.943572,-2.580111,-0.147150,-1.316362,-0.702273,-5.638215,1.199211,3.045403,0.856001,GDP Growth
4,Albania,-9.575640,-28.002142,-7.187111,9.559412,8.302867,13.322333,9.099999,-10.919984,8.829424,...,2.218726,3.314981,3.802599,4.019346,2.087712,-3.302082,8.908528,4.856402,3.439149,GDP Growth

In [9]:


# Load your dataset
file_path = '/content/drive/MyDrive/Msc Data Science Final Project/Cleaned data sets/Combined_Dataset.csv'  # Replace with your file path
df = pd.read_csv(file_path)

# Method 1: Fill missing values with mean (Mean Imputation)
df_mean_imputed = df.copy()

# Apply mean imputation only to numeric columns
numeric_columns = df.select_dtypes(include=['number']).columns
df_mean_imputed[numeric_columns] = df_mean_imputed[numeric_columns].fillna(df[numeric_columns].mean())

# Save the mean-imputed dataset
mean_imputation_path = '/content/drive/MyDrive/Msc Data Science Final Project/Preprocessed data sets/mean_imputed_dataset.csv'
df_mean_imputed.to_csv(mean_imputation_path, index=False)

print(f"Mean imputed dataset saved to: {mean_imputation_path}")

# Method 2: Fill missing values by searching for same sequence rows in the same indicator
df_sequence_imputed = df.copy()

# Define a function to fill missing values by sequence matching
def fill_missing_by_sequence(df, column):
    for idx, value in df[column].items():
        if pd.isna(value):  # If the value is missing
            # Find rows with the same indicator and not missing in the target column
            indicator = df.loc[idx, 'Indicator']  # Assuming there's an 'Indicator' column
            similar_rows = df[(df['Indicator'] == indicator) & (~df[column].isna())]

            if not similar_rows.empty:
                # Use the mean of the matching rows to fill the missing value
                df.at[idx, column] = similar_rows[column].mean()

# Apply the function to each numeric column (except the 'Indicator' column)
for col in numeric_columns:
    fill_missing_by_sequence(df_sequence_imputed, col)

# Save the sequence-matched dataset
sequence_imputation_path = '/content/drive/MyDrive/Msc Data Science Final Project/Preprocessed data sets/sequence_imputed_dataset.csv'
df_sequence_imputed.to_csv(sequence_imputation_path, index=False)

print(f"Sequence-imputed dataset saved to: {sequence_imputation_path}")

Mean imputed dataset saved to: /content/drive/MyDrive/Msc Data Science Final Project/Preprocessed data sets/mean_imputed_dataset.csv
Sequence-imputed dataset saved to: /content/drive/MyDrive/Msc Data Science Final Project/Preprocessed data sets/sequence_imputed_dataset.csv